  <ul>
  <li class="user-page-bar-navigation-item">{{#link-to 'admin.cuisines'}}Cuisines{{/link-to}}</li>
               <li class="user-page-bar-navigation-item">{{#link-to 'admin.locations'}}Locations{{/link-to}}</li>
               <li class="user-page-bar-navigation-item">{{#link-to 'admin.users'}}Users{{/link-to}}</li>
               <li class="user-page-bar-navigation-item">{{#link-to 'admin.activity_logs'}}Activity Logs{{/link-to}}</li>
               {{!-- <li class="user-page-bar-navigation-item">{{#link-to 'admin.settings'}}Settings{{/link-to}}</li> --}}
             </ul>
             <ul class="user-page-bar-navigation navigation-right"></ul>