     </div>
     {{/link-to}}
   </div>
+  <div class="col-xs-12 col-sm-4 col-lg-3">
+    {{#link-to 'admin.activity_logs' class="admin-statistic-link"}}
+    <div class="admin-statistic">
+      <h3></h3>
+      <p>
+        Activity Logs
+      </p>
+    </div>
+    {{/link-to}}
+  </div>
 </div>